{
    "presets": [
        "env",
        "stage-0",
        "flow"
    ],
    "plugins": [
        "add-module-exports",
        "transform-class-properties",
        "syntax-class-properties",
        "transform-decorators-legacy",
        "syntax-decorators"
    ]
}
